.layout {
  display: flex;
  height: 100vh;
  padding: 16px 24px; 
}

.sidebar {
  flex: 0 0 200px; 
  background-color: #0366d6; 
  padding: 16px;
  border-radius: 15px;
}

.content {
  flex: 1; 
  margin-left: 24px;
}

